<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <h1>Talk to us</h1>
    <p>Baseball ipsum dolor sit amet game rubber game baseball card pennant. Slider cellar mustard hey batter butcher boy ground rule double second baseman in the hole butcher boy. Run reds catcher inning squeeze bases loaded grand slam third base breaking ball. Pickoff sweep check swing fastball triple play relay full count hall of fame golden sombrero. Hitter triple play contact win unearned run, robbed crooked number force cracker jack. Shortstop wild pitch third baseman forkball slide grass third base.</p>
</body>
</html>