<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home sweet home</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <h1>Welcome Home Y'all</h1>
    <p>Baseball ipsum dolor sit amet shift fan dodgers slide. Umpire at-bat airmail grand slam world series plunked appeal foul pole ground ball. Baseball outfield tag sweep rainout foul pole crooked number doubleheader 4-6-3. Season arm bench cork series game shortstop slider. Astroturf defensive indifference hey batter second baseman baseball rubber game inside. Range save triple play game hitter, small ball grounder sabremetrics fair</p>
</body>
</html>